.header{
    max-width: 880px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin: 45px 0 0;
    padding-bottom: 41px;
    border-bottom:  rgba(54, 54, 54, .7) solid 1px;
}

@media screen and (max-width: 600px) {
    .header{
        margin: 28px 0 0;
        padding-bottom: 32px;
    }
}