.popup__submit-button{
    width: calc(100% - 72px);
    height: 50px;

    margin: 18px 36px 37px;
    color: #fff;
    background-color: #000;

    border: none;
    border-radius:  2px;
    transition: .5s;
    
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.popup__submit-button:hover{
    opacity: .8;
}


@media screen and (max-width: 600px) {
    .popup__submit-button{
        font-size: 14px;
        line-height: 17px;
        margin: 15px 22px 25px;
        width: calc(100% - 44px);
    }
}


