.intoTooltip__heading{
    margin: 32px auto 60px;
    width: 80%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}