.header__email-container{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .header__email-container{
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .header__email-container{
        margin: 20px 0 0 0;
    }
}